<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OpenCart Automation Suite">
    
    <test name="Regression Tests">
        <classes>
          
<class name="com.opencart.api.tests.LoginApiTest"/>
            <class name="com.opencart.api.tests.CartApiTest"/>
            <class name="com.opencart.api.tests.RegisterApiTest"/>
            <class name="com.opencart.tests.HybridLoginTest"/>    </classes>
    </test>
    
</suite>